/*--------------------------------------------------------------
## Basic Color
----------------------------------------------------------------*/
$white: #ffffff;
$black: #000;
$primary: #191919;
$secondary: #5a5959;
$ternary: #b7b7b7;
$border: #4d4d4d;
$gray: #181818;
